/* src/App.css */
.d-flex {
    display: flex;
  }
  
  .sidebar {
    width: 250px;
    height: 100vh;
    position: fixed;
  
  }
  
  .content {
    margin-left: 250px;
    padding: 20px;
  }
  
  
 
  .form-content {
    
    padding: 15px;
    background-color: #343a40;
    color: white;
    border-radius: 5px;
    width: 1300px;
    margin-top: 10px;
  
  }
  .form_group{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 20px;
  }
  .dashboard{
    padding: 20px;
    background-color: #343a40;
    color: white;
    border-radius: 5px;
    width: 1300px;
    margin: 0;
  }
.profile{
    width: 100px;
    height: 100px;
    border-radius: 90%;
    border: 2px solid white;
}  

.slide{
    background-color: #343a40;
 background-blend-mode: multiply;
}
.nav_item{
    color: white;
}
.nav_item:hover{
    color: rgb(8, 7, 7);
    text-align: center;
}

.nav__item:hover{
    background-color: white;
    width: 100%;
    color: black;
}
.table-content{
    padding: 15px;
    background-color: #343a40;
    color: white;
    border-radius: 5px;
    width: 1300px;
    margin-top: 10px;
}
.table{
    margin-top: 30px;
    width: 800px;
    border-radius: 5px;
    padding: 20px;
}